# Ignore the virtual environment folder
db_venv/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore the cache directories
.cache/
pytest_cache/

# Ignore the IDE/editor configuration files
.vscode/
.idea/

# Ignore other typical files/folders
*.log
*.bak
*.swp

# Ignore data folder
data/raw/
data/samples/
data/load/
data/benchmark/

# Ignore Python editable installation files
db_project.egg-info/

# Ignore temp_temp directory, just keeping to store code while reading
temp-temp/